{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Register User
{% endblock title %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-5">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p>{{user}} with the below details is registered for the event.</p>
                <hr>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}{% endif %}
            <div class="form-group">
                <form action="" method="post" id="attendant-form">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <input type="hidden" name='event_slug' value="{{ slug }}">
                    <input type="submit" class="btn btn-success" value="Register User">
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript">
    let form = $('#attendant-form')
    form.submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: '/create-event-attendants',
            type: 'POST',
            data: $(this).serialize(),
            dataType: 'json',
            processData: false,
            success: function (e) {
                if (e.success) {
                    $.notify('Attendants Created Successfully.', 'success');
                } else if(e.exception) {
                    $.notify('Error occured ' + e.exception, 'error')
                } else if(e.servererror) {
                    $.notify('Error occured ' + e.servererror, 'error')
                }
            },
            error: function (e) {$.notify('Error occured', 'error')}
        })
    })

</script>
{% endblock %}
