<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div class="col-lg-6">
            <h1 class="display-3 fw-bold mb-1">Welcome to the MSSN LAUTECH <br>Event Management Application.</h1>
            <p class="text-dark">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
                most
                popular front-end open source toolkit.</p>
            <a href="{% url 'event_create' %}"" class=" btn-get-started scrollto">+ Create New Event</a>
        </div>

    </div>
</section><!-- #hero --><br><br>