<div id="pagination">
                {% if page_obj.has_previous %}
                    <div class="bd-example">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                    <a class="text-white btn btn-success" onclick="paginate('1');">&laquo;
                        1</a>
                    <a class="text-white btn btn-success" onclick="paginate('{{ page_obj.previous_page_number }}');">previous</a>
                {% endif %}
                <button type="button" class="btn btn-success">Page {{ page_obj.number }} of
                    {{ page_obj.paginator.num_pages }}</button>
                {% if page_obj.has_next %}
                    <a class="text-white btn btn-success"
                       onclick="paginate('{{ page_obj.next_page_number }}');">next</a>
                    <a class="text-white btn btn-success" onclick="paginate('{{ page_obj.paginator.num_pages }}');">Last
                        &raquo;</a>
                {% endif %}
                </div>
                </div>
                </div>
            </div>
